"No application can open that" message when the URI scheme is in uppercase (HTTP or HTTPS)

Hello,

I get the message "No application can open that" when the URI scheme is in uppercase (HTTP or HTTPS).
I use uppercase letters to reduce the number of bits in QR Codes.

According to the RFC 3986 Section 6.2.2.1 (https://tools.ietf.org/html/rfc3986#section-6.2.2.1):
"When a URI uses components of the generic syntax, the component
syntax equivalence rules always apply; namely, that the scheme and
host are case-insensitive and therefore should be normalized to
lowercase."

It seems there's an android command to normalize the scheme as seen here:
(https://stackoverflow.com/questions/27251456/start-browser-via-intent-url-with-schema-http-uppercase-error)
(https://developer.android.com/reference/android/net/Uri#normalizeScheme())

Hi, thanks for the tip! Didn't know of `Uri.normalizeScheme()`. Fixed in https://github.com/markusfisch/BinaryEye/commit/2fbdd03225e672c0de7ee2f36b7c5ec5814a0b24

Just built a new version (1.3.7) and put it on Google Play. Should become available in the next few hours.

Thanks again!